doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Draggable LocalStorage To-do List
    link(rel="icon", href="https://avatars1.githubusercontent.com/u/39514595?s=460&v=4")
    link(rel='stylesheet', href='./css/style.css')
  body
    #todolist
      // 變為可視：audio(src="" controls)
      // 使用 html 載入 audio 方式能在第一次播放無延遲，但播放中的其他操作無法播放音效；使用 js 載入 audio 在第一次播放會有明顯延遲，但播放中的其他操作仍可繼續播放音效
      // <audio class="accomplishSound" src="http://noproblo.dayjo.org/ZeldaSounds/BOTW/BOTW_Fanfare_SmallItem.wav"></audio>
      .title
        h1 To-Do List 待辦事項清單
      .wrapper
        .items#sortable
        .newItem
          .add ＋
          input(placeholder="What needs to be done?" autofocus required)
          
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
    script(src="https://cdn.jsdelivr.net/npm/sortablejs@1.10.2/Sortable.min.js")
    script(src='/js/class.js')